# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
coverage.xml
enforce_branch_protection.sh
.DS_Store

# Home Assistant configuration
config/*
!config/configuration.yaml

